.container {
  display: flex;
  max-width: 400px;
  max-height: 200px;
  font-size: 1rem;
  font-weight: 400;
}

.button,
.link {
  font-size: inherit;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--indigo1);
  border: 1px solid var(--indigo10);
  padding: 0.5rem 0.75rem;
  border-radius: calc(var(--border-radius));
  color: var(--indigo10);
  margin: 0 auto;
}

.button:hover {
  background: var(--violet4);
  color: var(--violet10);
  border: 1px solid var(--violet10);
}

.link {
  background: none;
  border: none;
  padding: 0.25rem 0rem;
  cursor: pointer;
  margin: 0 auto;
}

.link:hover {
  color: var(--violet10);
}

.slim {
  padding: 0.25rem 0.5rem;
}

.justifiedRight {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.justifiedLeft {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
