.header {
  grid-column: 1 / -1;
  display: inline-flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
}

.header h2 {
  font-weight: 400;
  font-size: 1rem;
}

.header h2 span {
  font-weight: 400;
  font-size: 1.2rem;
}
