.overlay {
  background-color: var(--blackA8);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: var(--blackA12);
  backdrop-filter: blur(12px);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content:focus {
  outline: none;
}

.title {
  margin: 0;
  font-weight: 500;
  color: var(--violet8);
  font-size: 1.25rem;
}

.description {
  margin: 10px 0 20px;
  color: inherit;
  font-size: 15px;
  line-height: 1.5;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 2rem;
  color: var(--violet11);
}

.iconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: var(--inherit);
  border: 1px solid var(--violet11);
  cursor: pointer;
}

.iconButton:hover {
  background-color: var(--violet11);
  color: var(--violet1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
}
