.container {
  width: 100%;
  background: var(--slate2);
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.body {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.header {
  text-transform: uppercase;
  margin: 0.5rem auto;
}
