.container {
  width: 100%;
  height: auto;
  background: var(--blackA9);
  padding: 0.5rem 1rem;
  display: inline-flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
}

.body {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.header {
  text-transform: uppercase;
  margin: 0.5rem auto;
}
